@media (max-width: 768px) {
  .show-for-desktop {
    display: none;
  }
  .show-for-mobile {
    display: normal;
  }
}
@media (min-width: 768px) {
  .show-for-desktop {
    display: normal;
  }
  .show-for-mobile {
    display: none;
  }
}
.linkimage:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.linkimage:not(:hover) {
  transform: scale(1);
  transition: transform 0.5s;
}

.genreitem:hover {
  filter: none;
  transition: filter 0.3s;
}

.genreitem {
  filter: grayscale(100%);
  cursor: pointer;
}
